header, footer {
  font-family: 'Arvo', serif;
  background-color: #fbd842;
  border: 2px solid black;
  padding: 20px;
}

main {
  background-color: #c9a568;
}


.note {
  background-image: url("./Components/assets/notepad.png");
  height: 70rem;
  background-repeat: no-repeat;
  font-family: 'Hachi Maru Pop', cursive;
}

a {
  position: fixed;
  right: 500px;
}

.pencil {
  position: fixed;
  right: 500px;
}


/* elements within the sticky note */
.add-title {
  margin-top: 3em;
  margin-left: 8em;
  font-family: 'Hachi Maru Pop', cursive;
}

.add-form {
  margin-top: 5.8em;
  margin-left: 4em;
  width: 500px;
}

Form {
  width: 300px;
}

.add-btn {
  margin-left: 10em;
  margin-right: 10px;
  font-family: 'Arvo', serif;
  height: 70px;
  width: 70px;
}

/* .add-btn-test {
  margin-left: 7em;
  margin-right: 10px;
  font-family: 'Arvo', serif;
  height: 70px;
  width: 70px;
} */

.clear-btn {
  font-family: 'Arvo', serif;
  height: 70px;
  width: 70px;
}

.todo-row {
  margin-top: 7em;
}

/* ************** */

/* elements in the todos Row */
ul {
  list-style-type: none;
}

li {
  margin-bottom: 1.2em;
  margin-left: 130px;
  height: 27px;
  width: 500px;
}

#delete-btn {
  font-size: 10px;
  padding: 3px 6px;
}


/* ***************** */