.note {
    background-image: url("../notepad.png");
    height: 100rem;
    background-repeat: no-repeat;
}


/* elements within the sticky note */
.add-title {
    margin-top: 5em;
    margin-left: 17em;
}

.add-form {
    margin-top: 6em;
    margin-left: 4em;
    width: 500px;
}

Form {
    width: 300px;
}

.add-btn {
    margin-left: 7.7em;
    margin-right: 10px;
}

.todo-row {
    margin-top: 6em;
    margin-left: 50em;
}

/* ************** */

li {
    margin-bottom: 1.2em;
    margin-left: 130px;
    height: 27px;
    width: 500px;
}

#delete-btn {
    font-size: 10px;
    padding: 3px 6px;
    /* margin-left: 3px; */
}